# Treinando Pandas

## Links:

- Documentação.: https://pandas.pydata.org/pandas-docs/stable/index.html
- Básico..............: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Receitas...........: https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook

In [1]:
import pandas as pd
import numpy  as np

## Criar uma series um Data Frame a partir de uma lista

In [2]:
frutas = ['maça', 'uva', 'banana']

print ('`---- Lista -----')
print(frutas)
print(type(frutas))

print('---- Séries -----')
pds_frutas = pd.Series(frutas)
print(pds_frutas)

print('------ Data Frame -----')
pd_frutas = pd.DataFrame(frutas)
print(pd_frutas)
print(type(pd_frutas))

`---- Lista -----
['maça', 'uva', 'banana']
<class 'list'>
---- Séries -----
0      maça
1       uva
2    banana
dtype: object
------ Data Frame -----
        0
0    maça
1     uva
2  banana
<class 'pandas.core.frame.DataFrame'>

## Criando DataFrame usando um index do time data e renomeando as colunas

In [3]:
datas = pd.date_range('20170301', periods = 6)

num = np.random.randn(6,4)


colunas = list('ABCD')

df = pd.DataFrame(num, index=datas, columns=colunas)

type(df)

df

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-04 -0.109284  0.004964  0.144852  0.745029
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

## Outras operações com DataFrame

In [4]:
# Copiando DataFrames
df2 = df.copy()
df2

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-04 -0.109284  0.004964  0.144852  0.745029
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [5]:
# Adicionando colunas à um DataFrame

df2['E'] = ['1', '2','3','3','2','1']
df2

                   A         B         C         D  E
2017-03-01  1.934206  1.556321 -0.769001 -1.179205  1
2017-03-02  0.052797 -0.277902  0.212200  1.774108  2
2017-03-03 -0.033844  0.969329  0.243379  0.533640  3
2017-03-04 -0.109284  0.004964  0.144852  0.745029  3
2017-03-05  0.320906  0.407976  0.480489  0.145184  2
2017-03-06  1.057000  1.269923  0.300107  0.399162  1

In [6]:
# Mostrando um resumo das features numéricas do DataFrame

# As features não númericas não são mostradas

df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.536963  0.655102  0.102004  0.402986
std    0.805888  0.727075  0.441613  0.957480
min   -0.109284 -0.277902 -0.769001 -1.179205
25%   -0.012184  0.105717  0.161689  0.208679
50%    0.186851  0.688652  0.227790  0.466401
75%    0.872976  1.194774  0.285925  0.692182
max    1.934206  1.556321  0.480489  1.774108

In [7]:
#Mostrando o primeiros registros do dataFrame

df.head(3)

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-03 -0.033844  0.969329  0.243379  0.533640

In [8]:
# Mostrando as últimas linhas da DataFrame

df.tail(2)

                   A         B         C         D
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [9]:
# Mostrando as colunas do DataFrame

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
# Mostrando a coluna de índice

df.index

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04',
               '2017-03-05', '2017-03-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# Mostrando os valores
df.values

array([[ 1.93420569,  1.55632141, -0.76900147, -1.17920458],
       [ 0.05279668, -0.27790163,  0.21220023,  1.77410769],
       [-0.03384357,  0.96932871,  0.24337945,  0.53363952],
       [-0.1092837 ,  0.00496372,  0.14485198,  0.74502921],
       [ 0.3209056 ,  0.40797559,  0.48048851,  0.14518443],
       [ 1.05699983,  1.26992298,  0.30010679,  0.39916222]])

In [12]:
df

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-04 -0.109284  0.004964  0.144852  0.745029
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [13]:
# Pivotiando as colunas com as linhas do DataFrame

df.T

   2017-03-01  2017-03-02  2017-03-03  2017-03-04  2017-03-05  2017-03-06
A    1.934206    0.052797   -0.033844   -0.109284    0.320906    1.057000
B    1.556321   -0.277902    0.969329    0.004964    0.407976    1.269923
C   -0.769001    0.212200    0.243379    0.144852    0.480489    0.300107
D   -1.179205    1.774108    0.533640    0.745029    0.145184    0.399162

In [14]:
# Ordenando pelos nomes das colunas -> axis(1)
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2017-03-01 -1.179205 -0.769001  1.556321  1.934206
2017-03-02  1.774108  0.212200 -0.277902  0.052797
2017-03-03  0.533640  0.243379  0.969329 -0.033844
2017-03-04  0.745029  0.144852  0.004964 -0.109284
2017-03-05  0.145184  0.480489  0.407976  0.320906
2017-03-06  0.399162  0.300107  1.269923  1.057000

In [15]:
# Ordenando pelas nomes das linhas -> axis(0)
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2017-03-06  1.057000  1.269923  0.300107  0.399162
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-04 -0.109284  0.004964  0.144852  0.745029
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-01  1.934206  1.556321 -0.769001 -1.179205

### Selecionando dados

In [16]:
# Ordenando por uma coluna de valor
df.sort_values(by='D')

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-04 -0.109284  0.004964  0.144852  0.745029
2017-03-02  0.052797 -0.277902  0.212200  1.774108

In [17]:
# Selecionando apenas uma coluna

df['D'] # Equivalente a df.D

2017-03-01   -1.179205
2017-03-02    1.774108
2017-03-03    0.533640
2017-03-04    0.745029
2017-03-05    0.145184
2017-03-06    0.399162
Freq: D, Name: D, dtype: float64

In [18]:
# Selecionando varias linhas pelo índice

# Selecionando as linhas 3a e 4a linhas
df[2:4]

                   A         B         C         D
2017-03-03 -0.033844  0.969329  0.243379  0.533640
2017-03-04 -0.109284  0.004964  0.144852  0.745029

In [19]:
# Selecionando varias linhas pelo nome do índice

# Selecionando as linhas 20170305 e 20170306
df['20170305':'20170306']

                   A         B         C         D
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [20]:
# Selecionando por rótulos

# Selecionando as colunas B e C
df.loc[:,['B','C']]

                   B         C
2017-03-01  1.556321 -0.769001
2017-03-02 -0.277902  0.212200
2017-03-03  0.969329  0.243379
2017-03-04  0.004964  0.144852
2017-03-05  0.407976  0.480489
2017-03-06  1.269923  0.300107

In [21]:
# Selecionando as colunas B e C interseção com as linhas 20170302 e 20170303

df.loc['20170302':'20170303',['B','C']]

                   B         C
2017-03-02 -0.277902  0.212200
2017-03-03  0.969329  0.243379

In [22]:
# Selecionando um valor escalar
df.loc[datas[0],'A']

1.9342056866827384

In [23]:
#Selecionando pela posição

# Selecionando o 3o item
df.iloc[2]

A   -0.033844
B    0.969329
C    0.243379
D    0.533640
Name: 2017-03-03 00:00:00, dtype: float64

In [24]:
# Selecionando os itens 2 até 4 e as colunas B até C

In [25]:
df.iloc[1:4,1:3]

                   B         C
2017-03-02 -0.277902  0.212200
2017-03-03  0.969329  0.243379
2017-03-04  0.004964  0.144852

In [26]:
# Selecionando as linhas 3 ao fim e as colunas C e D
df.iloc[2:,-2:]

                   C         D
2017-03-03  0.243379  0.533640
2017-03-04  0.144852  0.745029
2017-03-05  0.480489  0.145184
2017-03-06  0.300107  0.399162

In [27]:
# Selecionando por uma condição

# Selecionando as linhas em que o valor da coluna A é maior que 0 (Zero)
df[df.A > 0]

                   A         B         C         D
2017-03-01  1.934206  1.556321 -0.769001 -1.179205
2017-03-02  0.052797 -0.277902  0.212200  1.774108
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [28]:
# Selecionar os valores que satisfazem a uma condição
df[df > 0]

                   A         B         C         D
2017-03-01  1.934206  1.556321       NaN       NaN
2017-03-02  0.052797       NaN  0.212200  1.774108
2017-03-03       NaN  0.969329  0.243379  0.533640
2017-03-04       NaN  0.004964  0.144852  0.745029
2017-03-05  0.320906  0.407976  0.480489  0.145184
2017-03-06  1.057000  1.269923  0.300107  0.399162

In [29]:
# Selecionando linhas com o operador isin

df2[df2['E'].isin(['2','3'])]

                   A         B         C         D  E
2017-03-02  0.052797 -0.277902  0.212200  1.774108  2
2017-03-03 -0.033844  0.969329  0.243379  0.533640  3
2017-03-04 -0.109284  0.004964  0.144852  0.745029  3
2017-03-05  0.320906  0.407976  0.480489  0.145184  2

## Criando um DataFrame de um arquivo Excel

In [30]:
#Criando o arquivo
mdtr = pd.read_excel('mdtr_city.xlsx',header=1, index = 'CNPJ')

#Alterando o nome das colunas
mdtr.columns=['CNPJ','Outlet', 'Cidade', '2017/09', '2017/10',  '2017/11', 'Total']

#Exibindo o DataFrame
mdtr

,CNPJ,Outlet,Cidade,2017/09,2017/10,2017/11,Total
0,00002903000101,DROG STA RITA DE CANDIDO,CANDIDO MOTA,2.00,2.00,NaN,4.00
1,00005391000137,DROGARIA FARMA CRUZ,FRANCA,2.00,3.00,NaN,5.00
2,00006037000470,HOSPITAL UNIMED TATUI-JOSE FCO.M.DE ALMEIDA - DR.,TATUI,NaN,1.00,NaN,1.00
3,00006290000180,DROGARIA CAMPEA POPULAR,SAO PAULO,3.00,2.00,NaN,5.00
4,00006290000199,DROGARIA CAMPEA POPULAR,SAO PAULO,3.00,3.00,NaN,6.00
5,00006486000175,DROGARIA SAO FRANCISCO DE ASSIS,ANICUNS,2.00,NaN,NaN,2.00
6,00011976000160,DROGARIA MAIS FORMOSA,SAO PAULO,1.00,NaN,NaN,1.00
7,00013246000106,DROG SOUZA,CAMPINAS,1.00,1.00,NaN,2.00
8,00017373000175,DROG CALONI LTDA ME,DRACENA,3.00,2.50,NaN,5.50
9,00019968000160,DROGARIA NACIONAL,BRASILIA,1.50,NaN,NaN,1.50
10,00020717000103,FCIA DESCONTAO,ARACATUBA,2.00,1.50,NaN,3.50
11,00022548000132,FARMASUL GEISEL,BAURU,1.00,NaN,NaN,1.00
12,00025528000115,DROG JANINEFARMA LTDA,QUIRINOPOLIS,NaN,0.50,NaN,0.50
13,00028656000112,DROG SAUDE II,SAO JOSE DO RIO PRETO,39.00,31.50,2.00,72.50
14,00028656000199,DROG SAUDE II,SAO JOSE DO RIO PRETO,17.00,29.00,NaN,46.00
15,00030181000107,DROGARIA PRO VITA,GUARULHOS,7.00,8.50,NaN,15.50
16,00030181000280,DROGARIA PRO VITA,GUARULHOS,13.50,11.00,NaN,24.50
17,00030181000360,DROGARIA PRO VITA,SAO PAULO,2.00,NaN,NaN,2.00
18,00030181000603,DROGARIA PRO VITA,SAO PAULO,4.00,2.00,NaN,6.00
19,00030181000794,DROGARIA PRO VITA,GUARULHOS,4.00,8.50,NaN,12.50
20,00030181000875,DROGARIA PRO VITA,SAO PAULO,7.00,7.50,NaN,14.50
21,00030181000956,DROGARIA PRO VITA LTDA,SAO PAULO,7.00,16.00,NaN,23.00
22,00032532000100,DROGARIA LUCIA LTDA,ANAPOLIS,9.00,15.00,NaN,24.00
23,00037259000107,DROG SAO MATEUS LTDA,ANAPOLIS,0.50,NaN,NaN,0.50
24,00049791000144,HOSPITAL SANTA HELENA,BRASILIA,2.50,NaN,NaN,2.50
25,00053082000132,FARMACIA DO JOAO BOSCO,BELA VISTA DE GOIAS,0.50,2.25,NaN,2.75
26,00058542000115,HIPERFARMA,CURITIBA,NaN,0.50,NaN,0.50
27,00058816000176,DROG BETEL DE PIEDADE,RIO DE JANEIRO,NaN,NaN,0.50,0.50
28,00059344000176,DROGARIA AVENIDA,CACERES,1.00,NaN,NaN,1.00
29,00060726000110,RUY SUPLICY WIEDMER,LAPA,7.00,6.50,1.00,14.50
...,...,...,...,...,...,...,...
31308,BN0852023,PE/1160_852-23,RECIFE,2.00,NaN,NaN,2.00
31309,BN0856001,PE/1160_856-1,RECIFE,6.00,5.00,NaN,11.00
31310,BN0856002,PE/1160_856-2,RECIFE,2.00,NaN,NaN,2.00
31311,BN0856004,PE/1160_856-4,RECIFE,2.00,NaN,NaN,2.00
31312,BN0856005,PE/1160_856-5,RECIFE,1.00,NaN,NaN,1.00
31313,BN0860011,PE/960_860-11,OLINDA,NaN,3.00,NaN,3.00
31314,BN1071001,DF/10_1071-1,BRASILIA,7.00,NaN,NaN,7.00
31315,BN1073001,DF/10_1073-1,BRASILIA,NaN,NaN,2.00,2.00
31316,BN1074001,DF/10_1074-1,BRASILIA,NaN,2.00,NaN,2.00
31317,BN1080001,DF/10_1080-1,BRASILIA,1.00,NaN,NaN,1.00
31318,BN1081007,DF/10_1081-7,BRASILIA,NaN,1.00,NaN,1.00
31319,BN1081021,DF/10_1081-21,BRASILIA,NaN,1.00,NaN,1.00
31320,BN1082001,DF/10_1082-1,BRASILIA,NaN,2.00,NaN,2.00
31321,BN1082013,DF/10_1082-13,BRASILIA,1.00,NaN,NaN,1.00
31322,BN1089001,GO/870_1089-1,GOIANIA,6.50,NaN,NaN,6.50
31323,BN1092001,GO/870_1092-1,GOIANIA,1.00,1.00,NaN,2.00
31324,BN1092002,GO/870_1092-2,GOIANIA,NaN,1.00,NaN,1.00
31325,BN1093011,GO/870_1093-11,GOIANIA,NaN,1.00,NaN,1.00
31326,BN1099002,GO/870_1099-2,GOIANIA,2.00,NaN,NaN,2.00
31327,BN1105006,GO/870_1105-6,GOIANIA,NaN,1.50,NaN,1.50
31328,BN1171001,PR/690_1171-1,CURITIBA,NaN,1.00,NaN,1.00
31329,BN1176001,PR/690_1176-1,CURITIBA,0.50,NaN,NaN,0.50
31330,BN1219001,PR/1370_1219-1,LONDRINA,NaN,4.00,NaN,4.00
31331,BN1221002,PR/1370_1221-2,LONDRINA,NaN,0.50,NaN,0.50
31332,BN1241009,PR/1520_1241-9,MARINGA,1.00,NaN,NaN,1.00
31333,BN1322019,RS/920_1322-19,GRAVATAI,NaN,1.00,NaN,1.00
31334,BO8152001,OUTROS - BRICK 0152001,SANTO ANDRE,2.00,NaN,NaN,2.00
31335,BO8162001,OUTROS - BRICK 0162001,SAO BERNARDO DO CAMPO,NaN,1.00,NaN,1.00
31336,BO8837008,OUTROS - BRICK 0837008,RECIFE,NaN,1.50,NaN,1.50
31337,Total Geral,NaN,NaN,168448.75,171974.50,17606.75,358030.00

## Criando um DataFrame de um arquivo CSV

In [31]:
mdtr_csv = pd.read_csv('mdtr_city.csv', sep=';')

In [32]:
mdtr_csv

,'CNPJ','Outlet','Cidade','2017/09','2017/10','2017/11','Total Geral'
0,2903000101,'DROG STA RITA DE CANDIDO','CANDIDO MOTA',2.000,2.000,NaN,4.00
1,5391000137,'DROGARIA FARMA CRUZ','FRANCA',2.000,3.000,NaN,5.00
2,6037000470,'HOSPITAL UNIMED TATUI-JOSE FCO.M.DE ALMEIDA -...,'TATUI',NaN,1.000,NaN,1.00
3,6290000180,'DROGARIA CAMPEA POPULAR','SAO PAULO',3.000,2.000,NaN,5.00
4,6290000199,'DROGARIA CAMPEA POPULAR','SAO PAULO',3.000,3.000,NaN,6.00
5,6486000175,'DROGARIA SAO FRANCISCO DE ASSIS','ANICUNS',2.000,NaN,NaN,2.00
6,11976000160,'DROGARIA MAIS FORMOSA','SAO PAULO',1.000,NaN,NaN,1.00
7,13246000106,'DROG SOUZA','CAMPINAS',1.000,1.000,NaN,2.00
8,17373000175,'DROG CALONI LTDA ME','DRACENA',3.000,3.000,NaN,6.00
9,19968000160,'DROGARIA NACIONAL','BRASILIA',2.000,NaN,NaN,2.00
10,20717000103,'FCIA DESCONTAO','ARACATUBA',2.000,2.000,NaN,4.00
11,22548000132,'FARMASUL GEISEL','BAURU',1.000,NaN,NaN,1.00
12,25528000115,'DROG JANINEFARMA LTDA','QUIRINOPOLIS',NaN,1.000,NaN,1.00
13,28656000112,'DROG SAUDE II','SAO JOSE DO RIO PRETO',39.000,32.000,2.000,73.00
14,28656000199,'DROG SAUDE II','SAO JOSE DO RIO PRETO',17.000,29.000,NaN,46.00
15,30181000107,'DROGARIA PRO VITA','GUARULHOS',7.000,9.000,NaN,16.00
16,30181000280,'DROGARIA PRO VITA','GUARULHOS',14.000,11.000,NaN,25.00
17,30181000360,'DROGARIA PRO VITA','SAO PAULO',2.000,NaN,NaN,2.00
18,30181000603,'DROGARIA PRO VITA','SAO PAULO',4.000,2.000,NaN,6.00
19,30181000794,'DROGARIA PRO VITA','GUARULHOS',4.000,9.000,NaN,13.00
20,30181000875,'DROGARIA PRO VITA','SAO PAULO',7.000,8.000,NaN,15.00
21,30181000956,'DROGARIA PRO VITA LTDA','SAO PAULO',7.000,16.000,NaN,23.00
22,32532000100,'DROGARIA LUCIA LTDA','ANAPOLIS',9.000,15.000,NaN,24.00
23,37259000107,'DROG SAO MATEUS LTDA','ANAPOLIS',1.000,NaN,NaN,1.00
24,49791000144,'HOSPITAL SANTA HELENA','BRASILIA',3.000,NaN,NaN,3.00
25,53082000132,'FARMACIA DO JOAO BOSCO','BELA VISTA DE GOIAS',1.000,2.000,NaN,3.00
26,58542000115,'HIPERFARMA','CURITIBA',NaN,1.000,NaN,1.00
27,58816000176,'DROG BETEL DE PIEDADE','RIO DE JANEIRO',NaN,NaN,1.000,1.00
28,59344000176,'DROGARIA AVENIDA','CACERES',1.000,NaN,NaN,1.00
29,60726000110,'RUY SUPLICY WIEDMER','LAPA',7.000,7.000,1.000,15.00
...,...,...,...,...,...,...,...
31308,BN0852023,'PE/1160_852-23','RECIFE',2.000,NaN,NaN,2.00
31309,BN0856001,'PE/1160_856-1','RECIFE',6.000,5.000,NaN,11.00
31310,BN0856002,'PE/1160_856-2','RECIFE',2.000,NaN,NaN,2.00
31311,BN0856004,'PE/1160_856-4','RECIFE',2.000,NaN,NaN,2.00
31312,BN0856005,'PE/1160_856-5','RECIFE',1.000,NaN,NaN,1.00
31313,BN0860011,'PE/960_860-11','OLINDA',NaN,3.000,NaN,3.00
31314,BN1071001,'DF/10_1071-1','BRASILIA',7.000,NaN,NaN,7.00
31315,BN1073001,'DF/10_1073-1','BRASILIA',NaN,NaN,2.000,2.00
31316,BN1074001,'DF/10_1074-1','BRASILIA',NaN,2.000,NaN,2.00
31317,BN1080001,'DF/10_1080-1','BRASILIA',1.000,NaN,NaN,1.00
31318,BN1081007,'DF/10_1081-7','BRASILIA',NaN,1.000,NaN,1.00
31319,BN1081021,'DF/10_1081-21','BRASILIA',NaN,1.000,NaN,1.00
31320,BN1082001,'DF/10_1082-1','BRASILIA',NaN,2.000,NaN,2.00
31321,BN1082013,'DF/10_1082-13','BRASILIA',1.000,NaN,NaN,1.00
31322,BN1089001,'GO/870_1089-1','GOIANIA',7.000,NaN,NaN,7.00
31323,BN1092001,'GO/870_1092-1','GOIANIA',1.000,1.000,NaN,2.00
31324,BN1092002,'GO/870_1092-2','GOIANIA',NaN,1.000,NaN,1.00
31325,BN1093011,'GO/870_1093-11','GOIANIA',NaN,1.000,NaN,1.00
31326,BN1099002,'GO/870_1099-2','GOIANIA',2.000,NaN,NaN,2.00
31327,BN1105006,'GO/870_1105-6','GOIANIA',NaN,2.000,NaN,2.00
31328,BN1171001,'PR/690_1171-1','CURITIBA',NaN,1.000,NaN,1.00
31329,BN1176001,'PR/690_1176-1','CURITIBA',1.000,NaN,NaN,1.00
31330,BN1219001,'PR/1370_1219-1','LONDRINA',NaN,4.000,NaN,4.00
31331,BN1221002,'PR/1370_1221-2','LONDRINA',NaN,1.000,NaN,1.00
31332,BN1241009,'PR/1520_1241-9','MARINGA',1.000,NaN,NaN,1.00
31333,BN1322019,'RS/920_1322-19','GRAVATAI',NaN,1.000,NaN,1.00
31334,BO8152001,'OUTROS - BRICK 0152001','SANTO ANDRE',2.000,NaN,NaN,2.00
31335,BO8162001,'OUTROS - BRICK 0162001','SAO BERNARDO DO CAMPO',NaN,1.000,NaN,1.00
31336,BO8837008,'OUTROS - BRICK 0837008','RECIFE',NaN,2.000,NaN,2.00
31337,Total Geral,'','',168.449,171.975,17.607,358.03